<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div id="chat-page" class="container clearfix">
    <div class="people-list" id="people-list">
        <ul>
            <li class="clearfix">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar"/>
                <div class="about">
                    <div class="name" id="username" th:text="${user.getUsername()}">Me</div>
                    <input type="text" hidden="hidden" id="me_id" style="display: none" th:value="${user.getId()}">
                    <div class="status">
                        <i class="fa fa-circle online"></i> online
                    </div>
                </div>
            </li>
        </ul>
        <hr>
        <div class="search">
            <input type="text" placeholder="search"/>
            <i class="fa fa-search"></i>
        </div>
        <hr>
        <ul class="list">
            <li class="clearfix item-user-receive" th:each="item:${users}" th:attr="data-id=${item.getId()}">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar"/>
                <div class="about">
                    <div class="name"   th:text="${item.getUsername()}" >Anh Tuan</div>
                    <div class="status">
                        <i class="fa fa-circle online"></i> online
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="chat">
        <div class="chat-header clearfix">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar"/>
            <div class="chat-about">
                <div class="chat-with" id="user_receive_name">Vincent Porter</div>
                <div class="chat-num-messages">online</div>
            </div>
            <i class="fa fa-star"></i>
        </div> <!-- end chat-header -->
        <div class="connecting hidden" style="color: red;">Could not connect to WebSocket! Please refresh the page and try again or contact your administrator.</div>
        <div class="chat-history">
            <ul id="messageArea" class="list-chat">

            </ul>
        </div> <!-- end chat-history -->

        <div class="chat-message clearfix">
            <form id="messageForm" name="messageForm" nameform="messageForm">
                <textarea name="message-to-send" id="message-to-send" placeholder="Type your message"
                          rows="3"></textarea>
                <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
                <i class="fa fa-file-image-o"></i>
                <button id="send-button" data-room="" data-id="">Send</button>
            </form>
        </div> <!-- end chat-message -->

    </div> <!-- end chat -->

</div> <!-- end container -->

<script id="message-template" type="text/x-handlebars-template">
    <li class="clearfix">
        <div class="message-data align-right">
            <span class="message-data-time">{{time}}, Today</span> &nbsp; &nbsp;
            <span class="message-data-name">{{sender}}</span> <i class="fa fa-circle me"></i>
        </div>
        <div class="message other-message float-right">
            {{messageOutput}}
        </div>
    </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
    <li>
        <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i> {{sender}}</span>
            <span class="message-data-time">{{time}}, Today</span>
        </div>
        <div class="message my-message">
            {{response}}
        </div>
    </li>
</script>
<script src="/js/jquery.min.js"></script>
<script src="/js/handlebars.min.js"></script>
<script src="/js/sockjs.min.js"></script>
<script src="/js/stomp.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>